.header {
    display: grid;
    grid-template-areas: 
    "header-logo header-title"
    "header-nav header-nav"
    ;
    grid-template-columns: auto 1fr;
    background-color:  skyblue;
}
.header__logo {
    grid-area: header-logo;
}
.header__title {
    grid-area: header-title;
    text-align: center;
}