.article {
    list-style: none;
}
.articles__list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
}
.article__card{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1rem;
    background-color: aliceblue;
    margin: 2rem;
}
.article__pic{
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 44rem){
    .articles__list {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 2rem;
    }
    .articles__list > li {
        grid-column: span 4;
    }
    .article__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding: 1rem;
    }
    .article__pic {
        width: 100px;
        height: 100px;
    }
}