.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    background-color: var(--header-bg);
}
.footer__list {
    padding: 0;
    margin: 0;
    list-style: none;
}
@media screen and (min-width: 44rem){
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: left;
        background-color: skyblue;
    }
    .footer__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}