.theme-switcher__toggle {
    display: flex;
    padding: 4px;
    min-width: calc(5ch+8px);
    border-radius: 1rem;
    border:1px solid black;
    background-color: lightgray;
    font: inherit;  
    font-size: 0.8rem;
}
.theme-switcher__switch {
    display: inline-block;
    width: 1ch;
    height: 1ch;
    border-radius: 100%;
    border: 1px solid black;
    background-color: #eee;
}
 .app.dark .theme-switcher__switch {
    order: 2;
    background-color: grey;
}